[Unit]
Description=GitHub push webhook listener
Wants=network-online.target
After=network.target

[Service]
Environment="PUFFY_CONFIG_PATH=/etc/puffy/config.toml"
ExecStart=/usr/bin/puffy
User=root

# Useful during debugging; remove it once the service is working
StandardOutput=console

[Install]
WantedBy=multi-user.target
